* {
    box-sizing: border-box;
  }
  body {
    padding: 20px;
  }
  
  .books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: .5fr 1fr;
    grid-gap: 1rem;
  }
  
  
  .image{
    grid-row: 2;
    width: 350px;
    height: 350px;
    position: relative;
    z-index: -1;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/61h6zjbZxKL.jpg);
    background-size: cover;
    border: solid;
    border-radius: 50%;
    margin: 0;
    max-width: 100%;
    padding: 1%;
  }
  
  .outline{
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 50%;
    margin: 0;
    max-width: 100%;
    border: solid;
    border-radius: 50%;
    border-width: 1px;
  }
  