* {
    box-sizing: border-box;
  }
  body {
    padding: 20px;
    background-color: black;
  }
  
  .books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    grid-gap: 1rem;
    width: 50%;
  }
  

  .image{
    width: 350px;
    height: 350px;
    position: relative;
    z-index: -1;
    background-size: cover;
    border: solid;
    border-radius: 50%;
    margin: 0;
    max-width: 100%;
    padding: 1%;
  }
  
  .outline{
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 50%;
    margin: 0;
    max-width: 100%;
    border: solid;
    border-radius: 50%;
    border-width: 1px;
  }
  

  #nalo{
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/61h6zjbZxKL.jpg);

}

#binti{
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/81IICHFn4LL.jpg);
    background-size: cover;
    background-position:center top;

}

#captionBinti{
    position: absolute;
    bottom: 150px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    

}



.image2{
  height: 200px;
  width: 200px;
  border: solid;
  background-color: white;
}

#green{
  background-color: green;
  background-size: contain;
  
}
